/*COLOR*/
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #ce5108;
  --color-body: #6211119a; /*body text*/
}

/*TYPHOGRAPHY*/
/*Query for mobile version*/
html {
  font-size: 62.5%; /* 62.5 of 16px = 16px is the default of font sixe of html, 62.5=10px*/
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  line-height: 1.5; /*1.5 times of current font size*/
  font-size: 2.4rem;
}
h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 7rem; /*rem unit is  is responsive px is not*/
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

/*@media query for wider screens like pc*/
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h1 {
    font-size: 4rem;
  }
  h1 {
    font-size: 2.4rem;
  }
}

/*LINKS*/
/*Query for mobile version*/
a {
  text-decoration: none; /*This removes the underline below all the links in the page.*/
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase; /*This property is used because in the mark up link-arrow is written in lower case*/
  font-size: 2rem;
  font-weight: bold;
}
.link-arrow::after {
  content: "-->"; /*--> can create an arrow icon/ if that does not work add an arrow icon itself Use pesudo element here*/
  margin-left: 5px;
  transition: margin 0.25s; /*This meanse margin arrow movement should be in .15s speed not quick */
}
.link-arrow:hover::after {
  /*It moves the arrow when we hover over the arrow and from 5px margin to 10 px margin*/
  margin-left: 10px;
}

/*@media query for wider screens like pc*/
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/*BADGES*/
/*OOCSS principle 2 seperate structure from the skin*/

/*Mobile Vesion*/

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem; /*0.5 is for vertical and 2rem for horizondal padding*/
  white-space: nowrap; /*This pevent a badge wrapping into a second line especially when we have littel space*/
}

.badge--primary {
  /*BEM method is used*/
  background: var(--color-primary);
  color: #fff;
}
.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--samll {
  font-size: 1.6rem;
}

/*Larger Screen= Media query @media*/
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--samll {
    font-size: 1.2rem;
  }
}
