/*COLOR*/
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #ce5108;
  --color-body: #6211119a; /*body text*/
}

/*universal selector use
https://developer.mozilla.org/en-US/docs/Web/CSS/Universal_selectors*/
*,
*::after,/* all elements* and all elements that are dynamically inserted ::after, *::before them set the boxsizing to border vox*/
*::before {
  box-sizing: border-box;
}

/*TYPHOGRAPHY*/
/*Query for mobile version*/
html {
  font-size: 62.5%; /* 62.5 of 16px = 16px is the default of font sixe of html, 62.5=10px*/
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  line-height: 1.5; /*1.5 times of current font size*/
  font-size: 2.4rem;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 7rem; /*rem unit is  is responsive px is not*/
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

/*@media query for wider screens like pc*/
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h1 {
    font-size: 4rem;
  }
  h1 {
    font-size: 2.4rem;
  }
}

/*LINKS*/
/*Query for mobile version*/
a {
  text-decoration: none; /*This removes the underline below all the links in the page.*/
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase; /*This property is used because in the mark up link-arrow is written in lower case*/
  font-size: 2rem;
  font-weight: bold;
}
.link-arrow::after {
  content: "-->"; /*--> can create an arrow icon/ if that does not work add an arrow icon itself Use pesudo element here*/
  margin-left: 5px;
  transition: margin 0.25s; /*This meanse margin arrow movement should be in .15s speed not quick */
}
.link-arrow:hover::after {
  /*It moves the arrow when we hover over the arrow and from 5px margin to 10 px margin*/
  margin-left: 10px;
}

/*@media query for wider screens like pc*/
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/*BADGES*/
/*OOCSS principle 2 seperate structure from the skin*/

/*Mobile Vesion*/

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem; /*0.5 is for vertical and 2rem for horizondal padding*/
  white-space: nowrap; /*This pevent a badge wrapping into a second line especially when we have littel space*/
}

.badge--primary {
  /*BEM method is used*/
  background: var(--color-primary);
  color: #fff;
}
.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--samll {
  font-size: 1.6rem;
}

/*Larger Screen= Media query @media*/
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--samll {
    font-size: 1.2rem;
  }
}

/*LISTS*/

.list {
  list-style: none; /*It helps to get rid of the default bullet point*/
  padding-left: 0; /*This get rid of the default browser padding*/
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(/Images/tick.svg); /*Use URL () function to upload an image*/
  padding-left: 3rem; /*if the image is not showing up in the live server add left padding which could solve the issue*/
}
.list--tick .list__item {
  padding-left: 0.5rem; /*use nesting here to avioed applying this rule to all the items in the list */
  margin-bottom: 1rem;
}

/*Desktop version*/
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0; /*On mobile vesion -applied 0.5 padding and desktop we applied 0 padding*/
  }
}

/*ICONS*/
/*Combine icon images inside a sprite to reduce the number of http request send to the server (optimization techniqie)
https://svgsprit.es/*/
.icon {
  width: 4rem;
  height: 4rem;
}
.icon--primary {
  fill: var(--color-primary); /* fill: property is used only for SVG files*/
}

.icon-container {
  background: #cfe3e7;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 100%; /*at this point the background looks odd. 
  Becasue span is an inline element and width and height properties does not have any effect on it
  To solve this issue set the display property to inline flex*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
/*No need for desktop version for Icons here*/

/*BUTTONS*/
/*Mobile*/
.btn {
  border-radius: 4rem;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0; /*It gives vertical(1) horizondal(0)  gap between buttons */
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase; /*ALWAYS MAKE SURE TEXT INSIDE THE BUTTON IS IN UPPER CASE */
  white-space: nowrap; /*It prevent the text jumping into next line incase if there is no space*/
}
.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  /*  background: lighten(primary,30%); lighten is a SAS preprocesser property like darken to make slight color variation*/
  background: #305b92;
}
.btn--secondary {
  background: var(--color-secondary); /*Always test the code as you go*/
  color: #fff;
}
.btn--secondary:hover {
  background: #305b92;
}
.btn--accent {
  background: var(--color-accent);
  color: #fff;
}
.btn--accent:hover {
  background: #942d16;
}

.btn--block {
  width: 100%;
  display: inline-block;
  /*Why inline-block? Becasue ANGER element is a block 
  element by default so the width will not have nay effect if we dont set display inline block */
}

/*DeskTop Version Button*/
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
