<div style="width:50%; padding:4rem">
    <div class="plan plan--popular">
        <div class="card card--secondary">
        <header class="card__header"> 
         <h3 class=" plan_name">Entry</h3>
        <span class="plan_price">$14</span>
        <span class="plan_biling-cycle">month</span>
        <span class="badge badge--secondary badge--samll">10%OFF</span>
        <span class="plan_discription">Easy start on the cloud</span>
        <div class="card__body">
          
        </header> <!--We use underscore here because it is a componet inside this block. It cannot excist itsown-->
            <ul class="list list--tick"> <!--ul.list>{Item $}*3 is the short cut to create list itemsa s given below-->
                <li class="list__item">Unlimited Websites</li>  <!--class="list__items" __BEM convention sepearte a block from its element-internal parts of the item-->
                <li class="list__item">Unlimited Bandwidth</li>
                <li class="list__item">100 GB SSD Storage</li>
                <li class="list__item">3 GB Ram</li>
              </ul>
              <button class="btn btn--outline btn--block">Buy Now</button>
            </div>
        </div>
        </div>
        
    
    <!--PLANS 
See above that Plan is forst and card, card header and body is inside the plan -->

<!--POPULAR BADGE-->
<!--Details are added to div class plan plan--popular above-->
