<!--FOOTER-->

<footer class="block block--dark footer "> <!--footer class is used here to target the
    background color Targeting this way helps to keep the text color and remove block--dark background  color-->
<div class="container grid footer__sections">
   <!--add below collapsible component to add miltiple sections repalce DIV  with SECTION and copy 
       and paste below according to how manysections to have as per design mockup -->
   <section class="collapsible collapsible--expanded footer__section">
       <header class="collapsible__header">
           <h2 class ="collapsible__heading footer__heading"> products <h2>
              <!--<span class="icon-container"> this is removed to remove the container around the icon--> 
                   <svg class="icon icon--white collapsible__chevron"> <!--Icon color-->
                   <use xlink:href="/images/sprite.svg#chevron"></use>
                   </svg>
               </span>
       </header>
       <div class="collapsible__content">
           <ul class="list">
               <li><a href="#"> Website Hosting  </a></li>
               <li><a href="#"> Free Automated Wordpress   </a></li>
               <li><a href="#"> Migration </a></li>
           </ul>
       </div>
       
   </section>

   <section class="collapsible collapsible--expanded footer__section"> <!--remove collapsible--expanded class -->
       <header class="collapsible__header">
           <h2 class ="collapsible__heading footer__heading"> Company <h2>
              <!--<span class="icon-container"> this is removed to remove the container around the icon--> 
                   <svg class="icon icon--white collapsible__chevron"> <!--Icon color-->
                   <use xlink:href="/images/sprite.svg#chevron"></use>
                   </svg>
               </span>
       </header>
       <div class="collapsible__content">
           <ul class="list">
               <li><a href="#"> About </a></li>
               <li><a href="#"> Affiliates </a></li>
               <li><a href="#"> Blog </a></li>
           </ul>
       </div>
       
   </section>


   <section class="collapsible collapsible--expanded footer__section"> 
       <header class="collapsible__header">
           <h2 class ="collapsible__heading footer__heading"> Support <h2>
              <!--<span class="icon-container"> this is removed to remove the container around the icon--> 
                   <svg class="icon icon--white collapsible__chevron"> <!--Icon color-->
                   <use xlink:href="/images/sprite.svg#chevron"></use>
                   </svg>
               </span>
       </header>
       <div class="collapsible__content">
           <ul class="list">
               <li><a href="#"> Contacts </a></li>
               <li><a href="#"> Knowledge </a></li>
               <li><a href="#"> FAQ </a></li>
           </ul>
       </div>
       
   </section>

   <section class="collapsible collapsible--expanded footer__section"> <!--remove collapsible--expanded class -->
       <header class="collapsible__header">
           <h2 class ="collapsible__heading footer__heading"> Domains <h2>
              <!--<span class="icon-container"> this is removed to remove the container around the icon--> 
                   <svg class="icon icon--white collapsible__chevron"> <!--Icon color-->
                   <use xlink:href="/images/sprite.svg#chevron"></use>
                   </svg>
               </span>
       </header>
       <div class="collapsible__content">
           <ul class="list">
               <li><a href="#"> Domain Checker </a></li>
               <li><a href="#"> Domain Transfer </a></li>
               <li><a href="#"> Free Domain </a></li>
           </ul>
       </div>
       
   </section>


   <section class="footer__brand">
<img src="/Images/logo.svg" alt="">
<p class=" footer__copyright">Copyright 2021 Job Abraham</p> 
   </section>
</div>





</footer>

<script src="/Java Script/index.js"></script> <!--Why we add js code at the end of the mark up becasue we dont want the js code to hold up the rendering of the page each time it is dipolyed-->