<!--HERO/BANNER-->

<section class=" block block--dark block--skewed-left hero">

    <div class=" container grid grid--1x2"> 
        <!--.grid.grid--1x2> to put the 2 column grid inside a 
            container we can do it in two ways create a seperate container class and add gird inside that/ 
            caoninater grid as shown above-->
            <header class="block__header hero__content">
                <h1 class="block__heading">Cloud Hosting for Pros</h1>
                <p class ="hero__tagline">Diploy your website in less than 60 seconds.</p>
                <a href="" class="btn btn--accent btn--stretched">Get Started</a>
            </header>
    
            <img class="hero__image" src="/Images/banner.png"/>
            </div>
    
    
    
    </section>
    