<!--MEDIA /MEDIA COMPONENT-->


<!--In most cases media componentsa aree used in social media paltforms auch as FB, TW etc-->
<div class="media">
    <div class="media__image">
     
           <svg class="icon icon--primary ">
           <use xlink:href="/images/sprite.svg#snap"></use>
           </svg>
       
    </div>
   <div class="media__body">
       <h3 class="media__title">Easy Start &Managed Updates</h3>
       <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, veniam.</p>
   </div>
   </div>